/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3
#define OTH_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        
		mt: mod_tap {
			flavor = "tap-preferred";
			tapping_term_ms = <185>;
			retro-tap;
		};
        
		lt: layer_tap {
			flavor = "tap-preferred";
			tapping_term_ms = <185>;
			retro-tap;
		};
		
		sl: sticky_layer {
			release-after-ms = <2000>;
		};
    };

    combos {
        compatible = "zmk,combos";
		/* ====== Default Layer ====== */

		#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
          combo_##NAME { \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
        };

        /*                KEY POSITIONS

          ╭────────────────────╮ ╭────────────────────╮
          │  0   1   2   3   4 │ │  5   6   7   8   9 │
          │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
          │     20  21  22     │ │     23  24  25     │
          ╰───────────╮ 26  27 │ │ 28  29 ╭───────────╯
                      ╰────────╯ ╰────────╯            */

         /* Letters */
		COMBO(lower_v, &kp V, 21 22, DEF_L)
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";
		default_layer {
			bindings = <
			&kp J		&kp P		&kp U		&kp O		&kp K			&kp B		&kp D		&kp R		&kp F		&kp Q
			&hm LGUI W	&hm LALT I	&hm LSHFT E	&hm LCTRL A	&kp DOT			&kp G		&hm RCTRL T	&hm RSHFT N	&hm RALT S	&hm RGUI H
						&kp Y		&kp QUOT	&kp COMMA              	  				&kp M		&kp L		&kp C
												&trans  	&kp SPACE		&kp BSPC	&trans
			>;
		}; 						
    };

    keymap {
        compatible = "zmk,keymap";
		lower_layer {
			bindings = <
			&trans	&trans	&trans	&trans	&trans	&trans	&trans	&trans  &trans	&trans
			&trans	&trans	&trans	&trans	&trans	&trans	&trans  &trans  &trans  &trans
					&trans	&trans	&trans                	&trans	&trans	&trans
									&trans  &trans	&trans	&trans
			>;
		}; 						
    };
};