# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_GNAT_LEFT
	def_bool $(shields_list_contains,gnat_left)

config SHIELD_GNAT_RIGHT
	def_bool $(shields_list_contains,gnat_right)
